* {
    margin: 0;
    box-sizing: border-box;
    color: #e2e2e2;
}

.grid-container {
    display: grid;
    grid-template-areas: "head head head head head""aside main main main main""aside main main main main""aside main main main main""aside main main main main""aside main main main main""aside main main main main""foot foot foot foot foot";
    grid-template-columns: repeat(4, 1fr);
    height: 100vh;
    background-color: #1f1f1f;
    grid-template-rows: auto 1fr auto;
}

header {
    grid-area: head;
    padding: 10px;
    background-color: #282828;
}

aside {
    grid-area: aside;
    padding: 5px;
    background-color: #282828;
}

aside>ul {
    margin-bottom: 50px;
}

aside>ul>#default {
    background-color: #363636;
    cursor: pointer;
}

#default>img {
    position: relative;
    top: 3px;
}

#projects>li {
    margin-left: 50px;
    list-style: circle;
    cursor: pointer;
}

#projects>li:hover {
    background-color: #363636;
}

#projects>#more {
    display: inline-block;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    border: none;
    margin-right: 2px;
    position: relative;
    top: 3px;
}

#projects>#more {
    cursor: pointer;
}

#projects>#new-project {
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    top: 3px;
}

#project-input>button, #project-input>input {
    color: black;
}

#add-project-btn {
    margin-right: 5px;
    background-color: rgb(27, 147, 202);
    border: none;
}

#project-delete-btn {
    display: inline-block;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    position: relative;
    top: 3px;
}

#content {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 10px;
}

#content>li {
    border-bottom: 2px solid #363636;
    width: 600px;
    margin-bottom: 10px;
    padding: 10px;
}

.todo-item {
    display: flex;
    justify-content: space-between;
}

.icons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 55px;
}

.edit-btn {
    height: 19px;
    width: 19px;
    background-image: url("./edit-2.svg");
    cursor: pointer;
}

#content>li>#add-todo {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    cursor: pointer;
}

#content>li>#add:hover {
    background-color: rgb(27, 147, 202);
}

#content>li {
    list-style: none;
}

footer {
    grid-area: foot;
    text-align: center;
    background-color: #282828;
}

header, footer {
    border: 2px solid #1c1c1c;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    position: absolute;
    background-color: rgb(77, 77, 77);
    top: 30%;
    right: 50%;
    border: 2px solid black;
}

input[type="text"], input[type="date"], textarea, select {
    color: black;
}

button {
    padding: 3px;
    margin-right: 10px;
    cursor: pointer;
}

.container {
    padding: 10px;
    color: black;
}

.flex-container {
    display: flex;
}

.first {
    margin-right: 20px;
}

#form-ok {
    background-color: rgb(27, 147, 202);
    width: 60px;
    border: none;
}

#form-cancel {
    border: none;
    color: black;
}

#add-todo {
    background-color: rgb(27, 147, 202);
    width: 60px;
    border: none;
}

#cancel-todo {
    border: none;
    color: black;
}

.todo-remove-btn {
    height: 19px;
    width: 22px;
    background-image: url("./delete.svg");
    background-repeat: no-repeat;
    cursor: pointer;
}