* {
    margin: 0;
    box-sizing: border-box;
    color: #e2e2e2;
}

body {
    display: grid;
    grid-template-areas: "head head head head head" "aside main main main main" "aside main main main main" "aside main main main main" "aside main main main main" "aside main main main main" "aside main main main main" "foot foot foot foot foot";
    grid-template-columns: repeat(4, 1fr);
    height: 100vh;
    background-color: #1f1f1f;
}

header {
    grid-area: head;
    /* border: 2px solid #1c1c1c; */
    padding: 10px;
    background-color: #282828;
}

aside {
    grid-area: aside;
    /* border: 2px solid black; */
    padding: 5px;
    background-color: #282828;
}

aside>ul {
    margin-bottom: 50px;
}

aside>ul>ul>img {
    vertical-align: sub;
}

#projects>li {
    margin-left: 50px;
    list-style: circle;
}

#projects>#more {
    background-color: #282828;
    vertical-align: sub;
    border: none;
}

#projects>#more {
    cursor: pointer;
}

#projects>#add-project {
    background-color: #282828;
    vertical-align: middle;
    border: none;
}

#projects>#add-project {
    cursor: pointer;
}

#content {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 10px;
}

#content>li {
    border-bottom: 2px solid #363636;
    width: 600px;
    margin-bottom: 10px;
    padding: 10px;
}

footer {
    grid-area: foot;
    text-align: center;
    background-color: #282828;
}

header, footer {
    border: 2px solid #1c1c1c;
}