:root {
    --primary: #F1F1F1;
    --secondary: #23120B;
    --tertiary: #21209C;
    --quaternary: #FDB827;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#sign-in-form {
    background-color: #aaaaaa;
    border-radius: 0.2rem;
    box-shadow: 10px 10px 23px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 10px 10px 23px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 10px 10px 23px 0px rgba(0, 0, 0, 0.5);
}

.sign-in-btn {
    background-color: white;
    color: #686868;
    padding: 10px 20px 10px 20px;
    border-radius: 0.2rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14rem;
}

.sign-in-btn-icon {
    height: 30px;
    width: 30px;
    margin-right: 1rem;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
    height: 100vh;
}

header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

header, footer {
    background-color: var(--secondary);
    color: var(--primary);
}

#user-controls {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 15rem;
}

#user-controls img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

main {
    grid-area: main;
    background-color: var(--primary);
}

footer {
    grid-area: footer;
    padding: 10px;
    text-align: center;
    width: 100%;
}

aside {
    flex-basis: 20%;
    padding: 5px;
    background-color: #dad3d3;
}

aside>ul>ul {
    padding: 10px;
}

#default {
    cursor: pointer;
    padding: 10px;
}

#default:hover {
    background-color: var(--quaternary);
}

#default>img {
    position: relative;
    top: 3px;
}

#project-controls {
    display: flex;
    justify-content: space-between;
    width: 7rem;
}

#more, .expand-todo-btn {
    background-image: url("./images/chevron-down.svg");
}

.less-btn {
    background-image: url("./images/chevron-up.svg");
}

.icon {
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
}

#projects {
    margin-top: 0.8rem;
}

#projects>li {
    margin-left: 50px;
    list-style: circle;
    cursor: pointer;
    padding: 10px;
    margin-top: 0.5rem;
}

#projects>li:hover {
    background-color: var(--quaternary);
}

#project-input>input {
    color: black;
}

.project-delete-btn {
    background: url("./images/trash-2.svg");
}

#new-project {
    background-image: url("./images/plus.svg");
}

.highlighted {
    background-color: var(--quaternary);
}

.project-name {
    margin-right: 0.9rem;
}

#content {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 2rem;
    align-items: center;
    flex-basis: 80%;
}

#content>li {
    border-bottom: 2px solid var(--tertiary);
    width: 60%;
    margin-bottom: 10px;
    padding: 10px;
    list-style: none;
}

.icons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 5.5rem;
}

.edit-btn {
    background-image: url("./images/edit-2.svg");
}

.detailed-view-open {
    border: 2px solid var(--tertiary);
    border-radius: 0.5rem;
}

#add-todo {
    background-image: url("./images/plus.svg");
}

.details-container {
    border-radius: 0.3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    margin: 0.5rem 0 0.5rem 0;
}

.urgency {
    display: flex;
    flex-direction: column;
}

.description, .urgency {
    width: 15rem;
}

.small-heading {
    font-weight: bold;
    float: left;
    margin-right: 1rem;
}

.priority-indicator {
    float: left;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.calender {
    float: left;
    background-image: url("./images/calendar.svg");
    background-repeat: no-repeat;
}

.small-icon {
    height: 1.5rem;
    width: 1.5rem;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#todo-form {
    background-color: var(--quaternary);
    padding: 10px;
    box-shadow: 10px 10px 37px 0px rgba(0, 0, 0, 0.42);
    -webkit-box-shadow: 10px 10px 37px 0px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: 10px 10px 37px 0px rgba(0, 0, 0, 0.42);
    border-radius: 0.5rem;
}

#modal-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

button {
    all: unset;
    cursor: pointer;
}

button:focus {
    border: 2px dotted #EEEEEE;
}

a {
    color: var(--quaternary);
}

.flex-container {
    display: flex;
}

.first {
    margin-right: 20px;
}

.ok-btn, #add-project-btn {
    background-color: var(--secondary);
    border-radius: 5px;
    width: 3.5rem;
    text-align: center;
}

.cancel-btn {
    margin-left: 0.5rem;
    border-radius: 5px;
    background-color: var(--tertiary);
}

.ok-btn, #add-project-btn, .cancel-btn {
    padding: 0.2rem;
    color: white;
    text-align: center;
}

.todo-remove-btn {
    background-image: url("./images/trash-2.svg");
}